/*-------card--------------*/
.card__container{
    max-width: 1200px;
    margin: auto;
}

/*-------cardview----------*/
.card{
    background-color: $card-bc;
    border:1px solid #e2e2e2;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin:40px auto;
}
.card__image{
    background-position: center;
    background-size: cover;
    height: 250px;
}
.card__content{
   padding: 10px;
}
.card__dishname{
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin:10px;
    height: 25px;
    overflow: hidden;
}
.card__action_share, .card__action_add{
    display: inline-block;
    margin:5px 10px;
    font-size: 14px;
    border:1px solid #e2e2e2;
    padding:4px 8px;
    border-radius: 2px;
    color:$button-text;
    text-transform: capitalize;
    cursor: pointer;
}
.card__action_share{
    img{
        height: 13px;
        width: 13px;
        margin-right: 7px;
    }
}
.card__action_share:hover, .card__action_add:hover{
    border: 1px solid #bbb;
    color:$button-hover;
}
