/*-------card----------*/
.card{
    background-color: $card-bc;
    border:1px solid #e2e2e2;
    height: 280px;
    width: 650px;
}
.card__image{
    background-image: url('../images/food.jpg');
    background-position: center;
    background-size: cover;
    height: 280px;
    width: 220px;
}
.card__content{
    margin: 20px;
}
.card__dishName{
    font-size: 20px;
    text-transform: capitalize;
}
li{
    list-style-type: none;
}