/*-----navbar-----*/
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.navbar a{
    color:#fff !important;
}
.navbar__grey{
background-color: $navbar-bc;
}
.navbar__logo {
font-weight: bold;
font-size: 20px;
color:#fff;
}
.navbar__item{
    color:#f5f5f5;
}