/*-----base variables -------*/
$font-family: 'Open Sans', sans-serif;
$grey-font:#555;
$button-text: #333;
$button-hover:#000;

/*-----navbar variables--------*/
$navbar-bc: #333;

/*-------card variables--------*/
$card-bc: #fff;
